
.quotation-rq-box{
	height: 175px;
	width: 1000px;
	border-top: 1px solid seagreen;
	border-right: 1px solid seagreen;
	border-bottom: 1px solid seagreen;
	border-left: 1px solid seagreen;
	max-height: none;
	min-height: 0px;
	max-width: 1000;
	min-width: 0px;
	display: flex;
	flex-direction: row;
	margin-top:15px;
}
.quotation-list-dropdown{
	border-right: 1px solid seagreen;
	border-bottom: 1px solid seagreen;
	border-left: 1px solid seagreen;
	max-height: none;
	min-height: 0px;
	max-width: 1000;
	min-width: 0px;
	margin-bottom:10px;
	margin-top: 0px;
}
.quotation-list-cell{
	width: 965px;
	display: flex;
	flex-direction: row;
	border-top: 1px solid seagreen;
	border-right: 1px solid seagreen;
	border-bottom: 1px solid seagreen;
	border-left: 1px solid seagreen;
	margin: 5px;
}
.confirm-button-group
{
	width: 200px;	
	display: flex;
	max-height: 35px;
	flex-direction: row;;
}

.confirm-button-group .confirm
{
	color: white;
	background-color: green;
	width: 95px;	
	border-top: 1px solid green;
	border-right: 1px solid green;
	border-bottom: 1px solid green;
	border-left: 1px solid green;
	margin: 5px;
}
.confirm-button-group .confirm :hover
{
	color: green;
}

.confirm-button-group .cancel
{
	color: white;
	background-color: red;
	width: 50px;
	border-top: 1px solid red;
	border-right: 1px solid red;
	border-bottom: 1px solid red;
	border-left: 1px solid red;
	margin: 5px;
}
.confirm-button-group .cancel :hover
{
	color: red;
	
}

.quotation-text-box{
	border-right: 1px solid seagreen;
	width: 400px;
	margin-right: 10px;
	padding: 10px;
	align-content: center;
	justify-content: center;
}
.quotation-list{
	display: flex;
	flex-direction: column;
}
.quotation-box{
	height: 130px;
	width: 1000px;
	border-top: 1px solid seagreen;
	border-right: 1px solid seagreen;
	border-bottom: 1px solid seagreen;
	border-left: 1px solid seagreen;
	max-height: none;
	min-height: 0px;
	max-width: 1000;
	min-width: 0px;
	display: flex;
	flex-direction: row;
	margin-bottom:10px;
}

.media-body {
	min-height: 146px;
	max-height: 146px;
	margin: 0px;
	padding: 0px;
	width: 1000px;
}

.quotation-name .badge{
	/* Font & Text */
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	letter-spacing: normal;
	line-height: 12px;
	text-decoration: none solid rgb(255, 255, 255);
	text-align: center;
	text-indent: 0px;
	text-transform: none;
	vertical-align: middle;
	white-space: nowrap;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgb(92, 184, 92);
	color: rgb(255, 255, 255);

	/* Box */
	height: 18px;
	width: auto;
	margin: 0px 0px 0px 5px;
	padding: 3px 7px;	

	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.small-link{
        /* Font & Text */
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-style: bold;
        font-variant: normal;
        font-weight: 600;
        letter-spacing: normal;
        line-height: 20px;
        text-decoration: none solid rgb(82, 175, 80);
        text-align: start;
        text-indent: 0px;
        text-transform: none;
        vertical-align: baseline;
        white-space: normal;
        word-spacing: 0px;
        color: rgb(82, 175, 80);

}


.quotation-name {
        /* Font & Text */
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-variant: normal;
        font-weight: 1000;
        letter-spacing: normal;
        line-height: 19.8px;
        text-decoration: none solid rgb(82, 175, 80);
        text-align: start;
        text-indent: 0px;
        text-transform: none;
        vertical-align: baseline;
        white-space: normal;
        word-spacing: 0px;
    
        /* Color & Background */
        background-attachment: scroll;
        background-color: rgba(0, 0, 0, 0);
        background-image: none;
        background-position: 0% 0%;
        background-repeat: repeat;
        color: rgb(82, 175, 80);
  }
  .card-content-name:hover {
    color: seagreen;
  }

.quotation-rq-box .quote-btn {
	/* Font & Text */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-style: bold;
	font-variant: normal;
	font-weight: 650;
	letter-spacing: normal;
	line-height: 18px;
	text-align: center;
	text-indent: 0px;
	text-transform: none;
	vertical-align: middle;
	white-space: nowrap;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: whitesmoke;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: black;

	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-left: 1.5px solid  seagreen;

}

.quotation-rq-box .quote-btn:hover {
	color: rgb(82, 175, 80);
  }
