.search-root {
    min-height: 800px;
    margin: 0 auto;
    position: relative;
    width: 1000px;
}
.search-result-text {
    font-size: larger;
    margin-top: 20px;
    width: 1000px;
    text-align: left;
}
.search-divider {
    margin: 10px;
    background-color: grey;
}