.container {  
    height: 1008;
    margin: 25PX auto;
    position: relative;
}
.list-item {
  margin-top: 0;
  bottom: 0;
}


.register-button {
  width: fit-content;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: larger;
  background-color: seagreen;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 1%;
  left: 50%;
  position: inherit;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}