.profile-container {
	min-height: 600px;
	width: 1000px;
	margin: 25px auto;
}
.profile-card {
	/* Box */
	height: auto;

	width: 1000px;
	border: 1px solid rgb(236, 236, 236);
	border-top: 1px solid rgb(236, 236, 236);
	border-right: 1px solid rgb(236, 236, 236);
	border-bottom: 1px solid rgb(236, 236, 236);
	border-left: 1px solid rgb(236, 236, 236);
	margin: 0px 0px 20px;
	padding: 30px 10px;
	display: flex;
	flex-direction: column;
}
.profile-card .row {
	/* Box */
	height: auto;
	min-height: 400px;
	width: 1000;
	margin: 0px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
}

.user-big-avatar {
	height: 200px;
	width: 200px;
	min-height: 200px;
	min-width: 200px;
	border-top-left-radius: 50%;	 
	border-top-right-radius: 50%;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
}


.user-big-name {
	text-align: center;
	margin:5px;
	font-size: 32px;
}

.profile-info p {
	margin:20px;
}

.profile-info {
	/* Font & Text */
	font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;	
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 20px;
	text-decoration: none solid rgb(68, 68, 68);
	text-align: start;
	text-indent: 0px;
	text-transform: none;
	white-space: normal;
	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(68, 68, 68);
	/* Box */
	height: auto;
	width: auto;
	padding: 0px 15px;
	margin: auto auto auto 0px;
	text-align: center;
	margin:10px;
}

.logout {
    height: 50px;
    width: fit-content;
    min-width: fit-content;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
    font-size: larger;
    background-color: seagreen;
    cursor: pointer;
    margin-top: 10px;
    left: 50%;
    position: inherit;
	align-content: center;
}