.profile-container {
	min-height: 600px;
	width: 1000px;
	margin: 25px auto;
}
.profile-card {
	/* Box */
	height: auto;

	width: 1000px;
	border: 1px solid rgb(236, 236, 236);
	border-top: 1px solid rgb(236, 236, 236);
	border-right: 1px solid rgb(236, 236, 236);
	border-bottom: 1px solid rgb(236, 236, 236);
	border-left: 1px solid rgb(236, 236, 236);
	margin: 0px 0px 20px;
	padding: 30px 10px;
	display: flex;
	flex-direction: column;
}
.profile-card .row {
	/* Box */
	height: auto;
	min-height: 400px;
	width: 1000;
	margin: 0px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
}

.user-big-avatar {
	height: 200px;
	width: 200px;
	min-height: 200px;
	min-width: 200px;
	border-top-left-radius: 50%;	 
	border-top-right-radius: 50%;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
}

.img-holder
{
	width: 550px;
	min-height: 400px;
	min-width: 400px;
}
.preview-img-holder
{
	height: 550px;
	width: 550px;
	min-height: 550px;
	min-width: 550px;
}

.custom-page
{
	width: fit-content;

}

.custom-container
{
	align-content: center;
	width: fit-content;
}

.change-image-icon {
	border: 40px;
	border-top-left-radius: 50%;	 
	border-top-right-radius: 50%;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	height: 35px;
	width: 35px;
	min-height: 35px;
	min-width: 35px;
	background-color: lightgrey;
	color: black;
	margin-top: 165px;
	margin-left: 155px;
}

.change-image-icon :hover{
	color: green;
}

.user-big-name {
	text-align: center;
	margin:5px;
	font-size: 32px;
}

.profile-info p {
	margin:20px;
}

.profile-info {
	/* Font & Text */
	font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;	
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 20px;
	text-decoration: none solid rgb(68, 68, 68);
	text-align: start;
	text-indent: 0px;
	text-transform: none;
	white-space: normal;
	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(68, 68, 68);
	/* Box */
	height: auto;
	width: auto;
	padding: 0px 15px;
	margin: auto auto auto 0px;
	text-align: center;
	margin:10px;
}

.logout {
    height: 50px;
    width: fit-content;
    min-width: fit-content;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
    font-size: larger;
    background-color: seagreen;
    cursor: pointer;
    margin-top: 10px;
    left: 50%;
    position: inherit;
	align-content: center;
}

.custom-file-input::-webkit-file-upload-button {
	visibility: hidden;
  }
  .custom-file-input::before {
	content: 'Tải ảnh lên';
	display: inline-block;
	background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
	border: 1px solid #999;
	border-radius: 3px;
	padding: 2px;
	outline: none;
	cursor: pointer;
	text-shadow: 1px 1px #fff;
	font-weight: 700;
	font-size: 10pt;
  }
  .custom-file-input:hover::before {
	border-color: black;
  }
  .custom-file-input:active::before {
	background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }

  .custom-file-input::-webkit-file-upload-button {
	visibility: hidden;
  }

  .icon-exit{
	border: 40px;
	border-top-left-radius: 50%;	 
	border-top-right-radius: 50%;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	height: 35px;
	width: 35px;
	min-height: 35px;
	min-width: 35px;
	background-color: lightgrey;
	color: black;
	margin-top: 165px;
	margin-left: 155px;
  }
  .icon-exit :hover{
	color: red;
}
.normalink{
	text-decoration: none;
	color: green;
}

  .button-delete {
	display: inline-block;
	background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
	border: 1px solid #999;
	border-radius: 3px;
	padding: 2px;
	outline: none;
	cursor: pointer;
	text-shadow: 1px 1px #fff;
	font-weight: 700;
	font-size: 10pt;
	margin-top: 5px;
	margin-left: 185px;
  }
  .button-delete:hover {
	border-color: black;
  }
  .button-delete:active {
	background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }