.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 30;
  margin: 0 auto;
  background-color: whitesmoke;
}
.image-container {
  display: flex;
  margin-top: 0;
  margin-bottom: 40;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.home-title {
  margin-top: 1em;
  font-size: xx-large;
  font-weight: bold;
  color: seagreen;
}
.home-slogan {
  margin-bottom: 1em;
  color: seagreen;
  font-size: larger;
}
.products-tab {
  justify-self: center;
  color: seagreen;
  margin: 10px;
  font-size: large;
  background-color: whitesmoke;
}
.available-tab {
  width: 100%;
  border: 1px;
}
.cate-button {
  border: none;
  width: 150px;
  height: 35px;
  font-size: 18px;
  background-color: seagreen;
  color: white;
}
.read-more-button {
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: larger;
  background-color: seagreen;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  left: 50%;
  position: inherit;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.img-product-start {
  width: 35px;
  height: 35px;
  margin-bottom: -10px;
  margin-right: 5px;
}